@import url(./menuBar/menuBar.css);

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{    
    background: #C9FFFC;   
}

.container {
    font-family: 'ONE-Mobile-POP';

    width: 75%;
    height: 80vh;
    background: #ffffff;
    margin: 10vh auto 0;
    position: relative;
  }
  
  .container .icons {
    font-size: 3em;
    opacity: 0.4;
  }


/* .main-game-play .game-movement{
    width: 75%;
    height: 80vh;
    background: #fff;
    margin: 10vh auto 0;
    position: relative;
    display: flex;
    
} */

.main-game-play .game-movement .read-Output{
    width: 70vw; height: 15vh; 

    background: red;
    border: 1px solid #000;
    border-radius: 15px;

    margin-bottom: 10px;
    padding: 20px; text-align: justify;
    /* font-family: 'ONE-Mobile-POP'; */

    display: flex; justify-content: center; align-content: center;
}

.main-game-play .game-movement .write-userInput{
    width: 70vw; height: 15vh; 

    background: orange;
    border: 1px solid #000;
    border-radius: 15px;

    margin-bottom: 10px;
    padding: 20px; text-align: justify;

    display: flex; justify-content: center; align-content: center;
}