* {
    box-sizing: border-box;
}

body {
    background: #C9FFFC;
}

.container {
    width: 75%;
    height: 80vh;
    background: #FFFFFF;
    margin: 10vh auto 0;
    position: relative;

    display: flex;
    justify-content: center;
}

#collection-of-games {
    /* background: gold; */
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

}

#collection-of-games div {
    width: 40%;
    height: 40%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#collection-of-games div li {
    width: 100%;
    height: 100%;
    /* background: red; */
    margin: 30px;
    margin-bottom: 0px;
    padding: 20px;
}



#collection-of-games li:nth-child(1),
#collection-of-games li:nth-child(2) {
    margin-top: 0px;
}

#collection-of-games li:nth-child(3),
#collection-of-games li:nth-child(4) {
    margin-top: 0px;
}

#collection-of-games li .game-access:hover {
    box-shadow: 5px 5px 10px #9c9c9c;
}

#collection-of-games li .game-name:hover {
    text-shadow: 5px 5px 5px #9c9c9c;
}

#collection-of-games .game-access {

    background: url('') no-repeat center/cover;

    border: 1px solid #9c9c9c;
    border-radius: 15px;

    margin: 0px auto;
    width: 90%;
    height: 80%;
}

#collection-of-games .game-name {
    /* border: 1px solid #000; */
    width: 180px;
    height: 25px;
    margin: 0px auto;

    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 1.5em;
}