@import url(./common.css);


/* 닫기랑 메뉴 */
.menuIcon .lnr-menu {
  position: absolute;
  top: 15px;
  left: 25px;
  color: #000000;
}
.closedIcon .lnr-cross-circle {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #ff0000;
}
/* 메뉴바 */
.container .menu {
  width: 40%;
  height: 100%;
  background: blanchedalmond;
  position: absolute;
  z-index: 1;
}
.container .menu.hide {
  display: none;
}
.container .menu .menuItem {
  width: 70%;
  height: 150px;
  border: 1px solid #000;
  margin-top: 10%;
  margin-left: 15%;
}

.container .menu .menuItem:hover {
  box-shadow: 5px 5px 10px #9c9c9c;
}

.menu .game-name {
  /* border: 1px solid #000; */
  width: 180px;
  height: 25px;
  margin: 0px auto;

  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 1.5em;
}

#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

/* 게임 창 */
.container .gameBox {
  height: 100%;
  /* background: lightblue; */
}
