@import url(../menuBar/menuBar.css);

@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

/* body{
    background: #C9FFFC;
} */

#content{    
    height: 100vh;
    background: #C9FFFC;
    /* background: url('/img/background.png') no-repeat center/cover; */
    /* background: linear-gradient(180deg, #FDE5EC, #E48586); */
    display: flex; justify-content: center; align-items: center;
    flex-wrap: wrap;
      
}

.container {
    font-family: 'ONE-Mobile-POP';
    
    width: 75%; height: 80vh;
    min-width: 75%; min-height: 80vh;

    /* background: #ffffff; */
    margin: 10vh auto;
    position: relative;
  }
  
  .container .icons {
    font-size: 3em;
    opacity: 0.4;
  }

.container .main-game-play{
    background: #AEE2FF; 
    border: 3px solid #93C6E7; border-radius: 15px; 

    width: 100%; height: 100%;

    padding: 10vh 0 0px;

    display: flex; justify-content: center; 
    flex-wrap: wrap;
}

.main-game-play .read-Output{
    width: 68vw; height: 55vh; 

    background: url('/img/사진1.png') no-repeat center/cover;
    border: 3px solid #93C6E7;
    border-radius: 15px;

    margin-bottom: 2vh;
    /* padding: 10px;  */
    /* text-align: justify; */

    display: flex; justify-content: center; align-content: center;
}

.main-game-play .read-Output #textBox{
    display: flex; flex-wrap: wrap; justify-content: center; 
    align-items: center;
    position: relative;
}

.main-game-play .read-Output #textBox li{
    width: 30%; height: 24%;
    min-width: 100px; min-height:85px; 

    /* background: #FEDEFF; */
    background: url('/img/6181861.jpg') no-repeat center/cover;

    margin: 1px;

    font-size: 2em; color: #FFA1CF;
    border-radius: 15px;


    display: flex; justify-content: center; align-items: center;
}

.main-game-play  .read-Output #textBox .no-see{
    opacity: 0;
}

.main-game-play input{
    width: 50vw; height: 10vh; 
    min-width: 150px; min-height: 30px;

    background: #B9F3FC;
    border: 3px solid #93C6E7;
    border-radius: 15px;
    margin: 0 auto; padding: 20px; 

    display: flex; justify-content: center; align-content: center;

    font-size: 2em; font-family: 'ONE-Mobile-POP'; color: #FFA1CF;
}

.main-game-play input.typing-error{
    background: red;
}


.main-game-play input:focus{
    outline: none;
}

footer{
    width: 100%;
}
